<div class="container-fluid py-2">
  <div class="row d-md-flex">
    <div class="col-12">
      <div class="rounded w-100 p-3 ml-4">
        <div>
          <h3 class="text-title">Livros</h3>
        </div>          
      </div>
    </div>
  </div>
 
  <div class="row d-md-flex">
    <div class="col-9">
      <div class="rounded w-100 p-3 align-items-left ml-4">
        <input type="text" class="form-control" placeholder="Livros"
            (keyup)="filtrarLivros($event.target.value)" />
      </div>
    </div>
    <div class="col-3">
      <div class="rounded w-100 p-1 align-items-rigth">
        <button class="btn btn-sm btn-add mr-1 my-2 my-lg-0" (click)="novoLivro()">
           <i class="icon-plus-circle mr-1"></i>
              Novo Livro
        </button>
      </div>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-12">

      <div class="container-fluid rounded pt-3 w-100">

        <div class="row">
          <div class="col-12">            
                
            <div class="align-items-center d-flex flex-column text-center text-title" *ngIf="errorMessage.length > 0">
              <img src="assets/mascote/gato-preto.png" alt="" class="img-fluid w-20 w-md-10" />                  
                  <div class="alert alert-warning">
                    <ng-container *ngFor="let error of errorMessage">
                      {{error}}
                    </ng-container>
                  </div>                  
              </div>


                <div *ngIf="livros?.length > 0">
                  <div class="align-items-center d-flex flex-column text-center text-title"
                    *ngIf="livrosCopy?.length === 0">
                    <img src="assets/mascote/gato-preto.png" alt="" class="img-fluid w-20 w-md-10" />
                    <div class="alert alert-warning">
                      <strong>Nenhum livro encontrado com o termo informado</strong>
                    </div>                    
                  </div>

                  <div class="table-responsive" *ngIf="livrosCopy?.length > 0">
          
                    <table class="table border-top-0">
                      <thead>
                        <tr>
                          <th scope="col">Título</th>
                          <th scope="col">Editora</th>
                          <th scope="col">Edição</th>
                          <th scope="col">Ano Publicação</th>
                          <th scope="col">Autores</th>
                          <th scope="col">Assuntos</th>
                          <th scope="col" class="text-center">Ação</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let item of livrosCopy | slice: (currentPage-1) * itemsPerPage : (currentPage-1) * itemsPerPage + itemsPerPage">                                                    
                          <td>{{item?.titulo | titlecase}}</td>
                          <td>{{item?.editora | titlecase}}</td>
                          <td>{{item?.edicao}}</td>
                          <td>{{item?.anoPublicacao}}</td>
                          <td>
                            <ng-container *ngFor="let autor of item?.autores">
                              {{autor?.nome}};
                            </ng-container>
                          </td>
                          <td>
                            <ng-container *ngFor="let assunto of item?.assuntos">
                              {{assunto?.descricao}};
                            </ng-container>
                          </td>
                          <td align="center">
                            <button type="button" class="btn btn-sm btn-primary mb-1" (click)="detalhesLivro(item)">
                              <span *ngIf="!loading"><i class="icon-eye"></i></span>
                              <span *ngIf="loading"><i class="spinner-border spinner-border-sm mr-2"></i>
                                Carregando...
                              </span>
                            </button>
                            <button type="button" class="btn btn-sm btn-primary ml-1 mb-1" (click)="editarLivro(item)">
                              <span *ngIf="!loading"><i class="icon-pencil"></i></span>
                              <span *ngIf="loading"><i class="spinner-border spinner-border-sm mr-2"></i>
                                Carregando...
                              </span>
                            </button>
                            <button type="button" class="btn btn-sm btn-danger ml-1 mb-1" (click)="excluirLivro(item)">
                              <span *ngIf="!loading">
                                <i class="icon-trash"></i></span><span *ngIf="loading">
                                <i class="spinner-border spinner-border-sm mr-2"></i>
                                Carregando...
                              </span>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                  <div class="d-flex align-items-center justify-content-between flex-column flex-md-row mt-3">
                    <ngb-pagination [collectionSize]="usuariosCopy?.length" #numPages [pageSize]="itemsPerPage"
                      [(page)]="currentPage" (pageChange)="onPageChange(currentPage)" [maxSize]="5" [rotate]="true">
                    </ngb-pagination>
                    <div class="d-flex white-space-nowrap text-title">
                      <label for="itemsPerPage">Itens por página </label>
                      <select [(ngModel)]="itemsPerPage" (change)="itemsPerPage = itemsPerPage"
                        class="form-control form-control-sm ml-2" name="itemsPerPage" id="itemsPerPage">
                        <option value="" hidden>Selecione</option>
                        <option [ngValue]="4">4</option>
                        <option [ngValue]="8">8</option>
                        <option [ngValue]="12">12</option>
                        <option [ngValue]="16">16</option>
                        <option [ngValue]="20">20</option>
                      </select>
                    </div>
                  </div>
                </div>

            </div>
          </div>

        </div>        

      </div>
  </div>

</div>  
  
<app-loading *ngIf="loading"></app-loading>
  