$icomoon-font-family: "condominioapp" !default;
$icomoon-font-path: "fonts" !default;

$icon-automacao: "\e9f6";
$icon-user-book: "\e9e7";
$icon-user-check: "\e9e5";
$icon-user-times: "\e9e6";
$icon-user-block: "\e9e4";
$icon-calendar-closer: "\e9e3";
$icon-compare: "\e9ec";
$icon-lock-open: "\e9ed";
$icon-user-accessible: "\e9ee";
$icon-bar-code: "\e9ef";
$icon-car-2: "\e9f0";
$icon-user-secret: "\e9f1";
$icon-users: "\e9e2";
$icon-pencil: "\e954";
$icon-plus: "\e9e1";
$icon-qrcode: "\e9e0";
$icon-person: "\e9dd";
$icon-doc-search: "\e9d6";
$icon-exclamation-circle: "\e9be";
$icon-user-curtain: "\e9b7";
$icon-clock-1: "\e9ca";
$icon-security-shield: "\e9d7";
$icon-megafone-2: "\e9d8";
$icon-list-add-check: "\e9de";
$icon-user-friends: "\e9d9";
$icon-megafone-1: "\e9da";
$icon-user-card: "\e9db";
$icon-calendar-2: "\e9dc";
$icon-settings: "\e9d5";
$icon-pharmastist: "\e9c7";
$icon-arrow-alt-down: "\e9c8";
$icon-arrow-alt-up: "\e9c9";
$icon-user-edit: "\e9cb";
$icon-laboratorst: "\e9cc";
$icon-new-message: "\e9cd";
$icon-nurse: "\e9ce";
$icon-operation: "\e9cf";
$icon-patient: "\e9d0";
$icon-death-reports: "\e9d1";
$icon-doctors: "\e9d2";
$icon-birth-report: "\e9d3";
$icon-accountnts: "\e9d4";
$icon-user-defender: "\e9c4";
$icon-clock: "\e946";
$icon-dog-paw: "\e911";
$icon-share: "\e913";
$icon-dog-happy: "\e915";
$icon-flag: "\e918";
$icon-bone: "\e925";
$icon-newsppaper-1: "\e926";
$icon-padlock: "\e92b";
$icon-bell: "\e9df";
$icon-car: "\e90f";
$icon-baloon: "\e906";
$icon-calendar-3: "\e90b";
$icon-tag: "\e91b";
$icon-man: "\e921";
$icon-list: "\e934";
$icon-services: "\e935";
$icon-car-1: "\e94d";
$icon-user-plus: "\e94e";
$icon-key: "\e94f";
$icon-files: "\e950";
$icon-user-bike: "\e952";
$icon-sunbeams: "\e956";
$icon-menu: "\e961";
$icon-user-wallet: "\e965";
$icon-balloons: "\e967";
$icon-tag-price: "\e968";
$icon-megafone-3: "\e96c";
$icon-construction: "\e972";
$icon-envelope: "\e97f";
$icon-money: "\e989";
$icon-task-list: "\e98b";
$icon-user-charger: "\e98c";
$icon-light-automation: "\e98e";
$icon-camera: "\e993";
$icon-open-book: "\e998";
$icon-credit: "\e9a1";
$icon-profile: "\e9a3";
$icon-ball: "\e9a6";
$icon-user-concierge: "\e9b6";
$icon-doc: "\e9b8";
$icon-dolar: "\e9b9";
$icon-download: "\e9ba";
$icon-grafic: "\e9bb";
$icon-historic: "\e9bc";
$icon-money-hand: "\e9bd";
$icon-copy: "\e9bf";
$icon-square-transparent: "\e9b4";
$icon-square-dark: "\e9b5";
$icon-square-minus: "\e9ab";
$icon-square-menu: "\e9ae";
$icon-lt: "\e9b3";
$icon-br: "\e9b2";
$icon-bc: "\e9b1";
$icon-se: "\e9b0";
$icon-square-phone: "\e9af";
$icon-phone: "\e94c";
$icon-minus-circle: "\e9aa";
$icon-checkbox-checked: "\e922";
$icon-square-closer: "\e9ac";
$icon-times: "\e981";
$icon-times-circle: "\e983";
$icon-info-circle-dark: "\e9ad";
$icon-info-circle: "\e953";
$icon-exclamation: "\e914";
$icon-exclamation-circle-transparent: "\e957";
$icon-interrogation-balloon: "\e917";
$icon-interrogation-circle: "\e958";
$icon-alert: "\e903";
$icon-security-check: "\e95d";
$icon-check: "\e92f";
$icon-check-circle: "\e901";
$icon-arrow-down-circle: "\e939";
$icon-arrow-up-circle: "\e941";
$icon-arrow-right-circle: "\e93b";
$icon-arrow-left-circle: "\e93a";
$icon-arrow-down: "\e317";
$icon-arrow-left: "\e318";
$icon-arrow-right: "\e319";
$icon-arrow-up: "\e31a";
$icon-plus-circle: "\e933";
$icon-minus-circle-1: "\e15d";
$icon-power: "\e8ac";
$icon-exit-door: "\e94a";
$icon-gateway: "\e949";
$icon-logout: "\e985";
$icon-login: "\e988";
$icon-user-arrows: "\e905";
$icon-hourglass: "\e907";
$icon-trash: "\e91f";
$icon-blocked: "\e920";
$icon-box: "\e908";
$icon-atom: "\e909";
$icon-chart: "\e902";
$icon-chat-1: "\e90a";
$icon-checkbox-unchecked: "\e923";
$icon-radio-checked: "\e937";
$icon-radio-unchecked: "\e938";
$icon-confused: "\e943";
$icon-download-1: "\e945";
$icon-companies: "\e90c";
$icon-envelope-1: "\e90d";
$icon-eye: "\e910";
$icon-user-o: "\e966";
$icon-user-account: "\e932";
$icon-user-group: "\e900";
$icon-user-badge: "\e990";
$icon-lamp-1: "\e912";
$icon-towers: "\e916";
$icon-tower: "\e91d";
$icon-test-tube: "\e91e";
$icon-download-arrow: "\e986";
$icon-upload: "\e964";
$icon-attachment: "\e931";
$icon-robot: "\e929";
$icon-expand: "\e924";
$icon-folder-closer: "\e96e";
$icon-folder-open: "\e927";
$icon-folders: "\e928";
$icon-gallery: "\e92a";
$icon-spanner: "\e973";
$icon-spanner-arrow: "\e904";
$icon-spanners: "\e980";
$icon-gear: "\e93f";
$icon-gears: "\e975";
$icon-gear-spanner: "\e92c";
$icon-form-edit: "\e919";
$icon-form: "\e91c";
$icon-form-location: "\e92d";
$icon-table: "\e970";
$icon-calendar: "\e97c";
$icon-checklist: "\e97e";
$icon-edit: "\e9a5";
$icon-doc-empty: "\e94b";
$icon-doc-filled: "\e91a";
$icon-docs-filled: "\e92e";
$icon-docs-chart: "\e96d";
$icon-doc-money: "\e930";
$icon-doc-checked: "\e936";
$icon-pdf: "\e982";
$icon-log: "\e93c";
$icon-like: "\e93d";
$icon-dislike: "\e9a4";
$icon-recharge: "\e93e";
$icon-spinner: "\e959";
$icon-three-points: "\e984";
$icon-printer: "\e940";
$icon-facebook: "\e942";
$icon-instagram: "\e944";
$icon-camera-1: "\e976";
$icon-photographic: "\e947";
$icon-link-external: "\e948";
$icon-save: "\e951";
$icon-weight: "\e955";
$icon-location: "\e95a";
$icon-lock: "\e95b";
$icon-eye-blocked: "\e98a";
$icon-sound: "\e95c";
$icon-zoom-in: "\e95e";
$icon-zoom-out: "\e95f";
$icon-serach-actions: "\e9a8";
$icon-search: "\e8b6";
$icon-cloud: "\e98d";
$icon-headset: "\e9a7";
$icon-monitor: "\e960";
$icon-notebook: "\e962";
$icon-rede: "\e963";
$icon-site: "\e969";
$icon-smartphone: "\e96a";
$icon-wifi: "\e96b";
$icon-calculator: "\e96f";
$icon-calendar-1: "\e98f";
$icon-newspaper: "\e992";
$icon-chart-pizza: "\e991";
$icon-megafone: "\e971";
$icon-organograma: "\e974";
$icon-etapas: "\e90e";
$icon-play: "\e977";
$icon-panel-solar: "\e995";
$icon-drums: "\e979";
$icon-raio: "\e994";
$icon-weathervanes: "\e97a";
$icon-fire: "\e97d";
$icon-helmet: "\e9a9";
$icon-balance: "\e987";
$icon-gavel: "\e9c0";
$icon-plant: "\e9c1";
$icon-hand-plant: "\e97b";
$icon-medidor: "\e978";
$icon-recycling: "\e9c2";
$icon-spark: "\e9c3";
$icon-users-check: "\e9f4";
$icon-car-3: "\e9f5";
$icon-home-automation: "\e9f3";
$icon-times-refresh: "\e9f2";
$icon-arrow-up-full-circle: "\e9e8";
$icon-arrow-left-full-circle: "\e9e9";
$icon-arrow-down-full-circle: "\e9ea";
$icon-arrow-right-full-circle: "\e9eb";
$icon-status: "\e997";
$icon-doc-report: "\e996";
$icon-gota: "\e999";
$icon-star: "\e99a";
$icon-heart: "\e99b";
$icon-excel: "\e99c";
$icon-doc-1: "\e99d";
$icon-word: "\e99e";
$icon-menu-1: "\e99f";
$icon-lamp: "\e9a0";
$icon-power-plug: "\e9a2";
$icon-home: "\e9c5";
$icon-mic: "\e9c6";

