<div class="container-fluid py-2">
  <div class="row d-md-flex">
    <div class="col-12">
      <div class="rounded w-100 p-3 ml-4">
        <div>
          <h3 class="text-title">Gestão de Produtos</h3>
        </div>         
        
        <div class="align-items-center d-flex flex-wrap over overflow-x-auto white-space-nowrap">
          <button class="btn btn-success btn-block mobile-opcoes" (click)="openMenu = !openMenu">
            Mais opções
          </button>
          
          <div class="menu my-0 my-md-3" [ngClass]="{'show': openMenu}">
            <button class="menu-item" routerLink="/dashboard/organizacao/" ngbTooltip="Voltar para tela inicial">
              <i class="icon-arrow-left-full-circle fs-18"></i>
              <span class="d-flex d-md-none">Voltar</span>
            </button>
            
            <ng-container *ngFor="let item of menu">
              <button class="menu-item" [routerLink]="item?.path" routerLinkActive="active" routerLinkDisable="inactive" (click)="openMenu = false"
                *ngIf="item?.visible"><i class={{item?.icone}}></i> {{item?.text}}</button>
            </ng-container>
          </div>
        </div>

      </div>
    </div>
  </div>
 
  
  <div class="row mt-3">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

  