<div [class]="modalbackgroundStorageSelected">
  
  <div class="modal-header">
    
    <div class="text-uppercase modal-title text-title fs-18 ml-2">{{action}}</div>   

    <button type="button" class="close text-danger" aria-label="Close" (click)="activeModal.close(action)">
      <i class="icon-times-circle"></i>
    </button>

  </div>  
  
  

  <form [formGroup]="form" class="form p-3">
    <div class="container-fluid">
    
      <div class="alert border-danger text-danger font-weight-bold d-flex align-items-center my-2 fs-14"
      *ngIf="errorMessage.length > 0">
        <div class="mr-3">
          <i class="icon-alert fs-24"></i>
        </div>
        <div>
          <ng-container *ngFor="let error of errorMessage">
            {{error}}
          </ng-container>
        </div>
      </div>      

      <div class="row">
        <div class="col-12">
          
          <div class="row border rounded p-1 mb-1">      
            <div class="col-12 col-lg-12">
              <div class="form-group">          
                <label>Grupo</label>
                <div class="input">             
                  <input type="text" class="form-control" minlength="1" maxlength="30" 
                   autofocus id="nome" placeholder="" formControlName="nome"
                   (blur)="salvarEdicaoGrupo()">            
                </div> 
                <small class="text-muted">
                  {{form.get('nome').value.length}} de 30 caracteres
                </small>
                <span class="text-danger" *ngIf="displayMessage.nome">
                  <p [innerHTML]="displayMessage.nome"></p>
                </span>
              </div>
            </div>
          </div>

          <div class="row border rounded p-2 mb-1">      
            <div class="col-12 col-lg-12">
              
              <div class="text-uppercase text-title">
                Subgrupos
              </div>            

              <div class="subgrupos" formArrayName="subgrupos">
                <hr />
                <div cdkDropList class="board-column-tasks" (cdkDropListDropped)="drop($event)">
                  <div class="subgrupo" [id]="i" *ngFor="let subgrupo of form.get('subgrupos')?.controls; let i = index"
                    cdkDrag #elem="cdkDrag">
          
                    <div class="counter">{{ i + 1}}</div>         
                    
                    <ng-container [formGroupName]="i">
          
                      <div class="d-flex w-100">
                        <button class="btn btn-sm mr-1 outline-0" cdkDragHandle style="cursor: move !important">
                          <i class="icon-menu"></i>
                        </button>
                        
                        <div class="row w-100">
                          <div class="col-12 col-lg-8">
                            <div class="form-group w-100 mb-0">
                              <label>Subgrupo {{ i + 1}}</label>
                              <input type="text" minlength="1" maxlength="35" class="form-control"
                                placeholder="Ex: Subgrupo {{ i + 1}}" formControlName="nome" 
                                (blur)="salvarEdicaoSubgrupo(i)">
                              <small class="text-muted"
                                [ngClass]="{'is-invalid':subgrupo.get('nome').errors && subgrupo.get('nome').touched}">
                                {{subgrupo.get('nome').value.length}} de 35 caracteres
                              </small>
                              <div class="invalid-feedback"
                                *ngIf="subgrupo.get('nome').hasError('required') && subgrupo.get('nome').touched">
                                Nome do Subgrupo é obrigatório
                              </div>
                            </div> 
                          </div>
                          <div class="col-12 col-lg-3">
                            <div class="form-group w-100 mb-0">
                              <label>Markup</label>
                              <input type="number" class="form-control" 
                               placeholder="40" formControlName="markup" 
                               min="0"
                               (blur)="salvarEdicaoSubgrupo(i)">
                              <div class="invalid-feedback"
                                *ngIf="subgrupo.get('markup').hasError('required') && subgrupo.get('markup').touched">
                                Markup inválido
                              </div>
                            </div>    
                          </div>
                          <div class="col-12 col-lg-1">
                            
                            <div class="mt-1" *ngIf="action == 'Novo Grupo' || (action == 'Editar Grupo' && subgrupo.get('id').value == '0')">
                              <button type="button" class="btn btn-sm text-danger"
                                ngbTooltip="Remover subgrupo" (click)="removerSubgrupoDaLista(i)">
                                <i class="icon-times-circle mr-1"></i>
                              </button>
                            </div>

                            <div class="mt-3" *ngIf="action == 'Editar Grupo' && subgrupo.get('id').value !== '0'">
                              <button type="button" class="btn btn-sm btn-danger"
                                ngbTooltip="Excluir subgrupo" (click)="excluirSubgrupo(i)">
                                <span *ngIf="!loading">
                                  <i class="icon-trash"></i>
                                </span>
                                <span *ngIf="loading">
                                  <i class="spinner-border spinner-border-sm mr-2"></i>
                                  Carregando...
                                </span>
                              </button>
                            </div>

                            <div class="mt-2" *ngIf="action == 'Editar Grupo' && subgrupo.get('id').value == '0'">
                              <button type="button" class="btn btn-sm btn-success"
                                ngbTooltip="Salvar subgrupo" (click)="salvarNovoSubgrupo(i)">
                                <span *ngIf="!loading">
                                  <i class="icon-save"></i>
                                </span>
                                <span *ngIf="loading">
                                  <i class="spinner-border spinner-border-sm mr-2"></i>
                                  Carregando...
                                </span>
                              </button>
                            </div>

                          </div>
                        </div>   
                        
                      </div>
          
                    </ng-container>
                  </div>
                </div>
              </div>
              
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-sm btn-add"                 
                  [ngbTooltip]="'Adicionar subgrupo'"
                  (click)="adicionarSubgrupoNaLista()">                  
                  <i class="icon-plus-circle mr-1 mb-1"></i>Adicionar
                </button>
              </div>

            </div>
          </div>        

        </div>
      </div>

    </div>
    

    <div class="modal-footer">

      <div class="d-flex align-items-center justify-content-between w-100">

        <div class="d-flex align-items-center justify-content-end w-100">
  
          <div>
            <button type="button" class="btn btn-sm btn-danger ml-2" 
            (click)="activeModal.close('close')" 
            *ngIf="(action == 'Novo Grupo')">
              Cancelar
             </button>
          </div>   
          
          <div>
            <button type="button" class="btn btn-sm btn-danger ml-2" 
            (click)="activeModal.close(action)" 
            *ngIf="action !== 'Novo Grupo'">
              Fechar
             </button>
          </div>   
  
          <div>
            <button type="button" class="btn btn-sm btn-success ml-2" (click)="salvarGrupoNovo()" 
              *ngIf="(action == 'Novo Grupo')">
              Salvar
            </button>
          </div>
        </div>

      </div>
  
    </div>

  </form>

</div>