@import "components-base";

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: orange;

  .count {
    width: 20px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding-bottom: 10px;
  }
}
