
@import "components-base";

.container {
  height: 100vh;
}


@media (max-width: 768px) {
  .mobile-opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $grayLight;

  transition: filter 0.4s;

  &:hover {
    filter: brightness(0.7);
  }
}