<div class="container" appDropzone (fileDropped)="uploadFile($event)">
  <input type="file" [accept]="acceptExtensions ? acceptExtensions : ''" id="fileDropRef"
    (change)="uploadFile($event.target.files)" />
  <!-- <img src="assets/img/dnd/ic-upload-file.svg" alt=""> -->
  <i class="icon-doc1 fs-48 mb-1"></i>

  <h3>Arraste e solte o arquivo aqui {{numberOfFiles}}</h3>
  <h3>ou</h3>
  <label for="fileDropRef">Procurar arquivo</label>
</div>
<div class="files-list">
  {{ files.value | json }}
  <div class="single-file" *ngFor="let file of files; let i = index">
    <img [src]="returnTypeFile(file?.extension,file)" width="45px" alt="file" class="mr-3">
    <!-- <i class="fs-36 icon-gallery icon-geleria mr-3"></i> -->
    <div class="info">
      <h4 class="name">
        {{file?.name}}
      </h4>
      <p class="size">
        {{ formatBytes(file?.size) }}
      </p>
      <!-- <app-progress [progress]="file?.progress"></app-progress> -->
      <!-- <div class="progress-cont">
        <div class="progress" [style.width]="file?.progress ? file?.progress : 0 + '%'">
        </div>
      </div> -->
    </div>
    <!-- <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)"> -->
    <span (click)="deleteFile(i)" class="delete">
      <i class="fs-20 icon-trash"></i>
    </span>
  </div>
</div>
