<div [class]="modalbackgroundStorageSelected"> 
  
<div class="row">
  <div class="col-12 col-lg-3">
    <div class="unidade-detalhes">
      <div class="unidade-image" [style]="setAvatar(produto?.fotoPrincipalURl)">        
      </div>
      <div class="unidade-image-detalhes">
        <div class="name">Código: {{produto?.codigo}}</div>       
      </div>
      <div class="unidade-image-detalhes">
        <div class="name">
          <span class="text-success" *ngIf="produto?.ativo">
            <i class="icon-check"></i>
            Ativo
          </span>
          <span class="text-error" *ngIf="!produto?.ativo">
            <i class="icon-blocked"></i>
            Inativo
          </span>
        </div>
      </div>
    </div>
  </div>  

  <div class="col-12 col-lg-9">       

    <div class="unidade-tabs">

      <button type="button" class="close text-danger" aria-label="Close" (click)="activeModal.close('close')">
        <i class="icon-times-circle"></i>
      </button>
      
      <button class="btn btn-success mobile-opcoes mb-3" (click)="openTabsMenu = !openTabsMenu">
        Mais opções
      </button>

      <div class="fundo-tabs-mobile" [ngClass]="{'show': openTabsMenu}"></div>

      <nav ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTabId" [ngClass]="{'show': openTabsMenu}">
        
        <button class="align-items-center btn btn-sm d-flex d-md-none grid-gap-2 nav-tab-closer" (click)="openTabsMenu = false">
          <i class="icon-times-circle fs-24"></i> Fechar
        </button>

        <!-- Home -->
        <ng-container [ngbNavItem]="1">          
          <a ngbNavLink class="d-flex align-items-center" (click)="navigateTab(1)" 
          ngbTooltip="Dados Principais">
            <i class="icon-home fs-24 me-md-1 me-3"></i>
            <span class="d-flex d-md-none">Dados Principais</span>
          </a>
          
          <ng-template ngbNavContent>
            <app-sobre-produto [produto]="produto"></app-sobre-produto>
          </ng-template>

        </ng-container>       

        <!-- Preço -->
        <ng-container [ngbNavItem]="2">
          <a ngbNavLink class="d-flex align-items-center" (click)="navigateTab(2)"
           ngbTooltip="Preço">
            <i class="icon-tag-price fs-24 me-md-1 me-3"></i>
            <span class="d-flex d-md-none">Preço</span>
          </a>
          <ng-template ngbNavContent>
            <app-sobre-produto-preco [produto]="produto"></app-sobre-produto-preco>
          </ng-template>
        </ng-container>

        <!-- Estoque -->
        <ng-container [ngbNavItem]="3">
          <a ngbNavLink class="d-flex align-items-center" (click)="navigateTab(3)"
            ngbTooltip="Estoque">
            <i class="icon-box fs-24 me-md-1 me-3"></i>
            <span class="d-flex d-md-none">Estoque</span>
          </a>

          <ng-template ngbNavContent>
            <app-sobre-produto-estoque [produto]="produto"></app-sobre-produto-estoque>
          </ng-template>

        </ng-container>

        <!-- Aplicação -->
        <ng-container [ngbNavItem]="4">
          <a ngbNavLink class="d-flex align-items-center" (click)="navigateTab(4)" 
            ngbTooltip="Aplicação">
            <i class="icon-doc-search fs-24 me-md-1 me-3"></i>
            <span class="d-flex d-md-none">Aplicação</span>
          </a>
          <ng-template ngbNavContent>
            <app-sobre-produto-aplicacao [produto]="produto"></app-sobre-produto-aplicacao>
          </ng-template>
        </ng-container>

        <!-- Tributação -->
        <ng-container [ngbNavItem]="5">
          <a ngbNavLink class="d-flex align-items-center" (click)="navigateTab(5)" 
            ngbTooltip="Tributação">
            <i class="icon-balance fs-24 me-md-1 me-3"></i>
            <span class="d-flex d-md-none">Tributação</span>
          </a>
          <ng-template ngbNavContent>
            <app-sobre-produto-tributacao [produto]="produto"></app-sobre-produto-tributacao>
          </ng-template>
        </ng-container>

        <!-- Galeria -->
        <ng-container [ngbNavItem]="6">
          <a ngbNavLink class="d-flex align-items-center" (click)="navigateTab(6)" 
            ngbTooltip="Galeria">
            <i class="icon-gallery fs-24 me-md-1 me-3"></i>
            <span class="d-flex d-md-none">Galeria</span>
          </a>
          <ng-template ngbNavContent>
            <app-sobre-produto-galeria [produto]="produto"></app-sobre-produto-galeria>
          </ng-template>
        </ng-container>

        <!-- Outros Dados -->
        <ng-container [ngbNavItem]="7">
          <a ngbNavLink class="d-flex align-items-center" (click)="navigateTab(7)" 
          ngbTooltip="Outros Dados">
            <i class="icon-services fs-24 me-md-1 me-3"></i>
            <span class="d-flex d-md-none">Outros Dados</span>
          </a>
          <ng-template ngbNavContent>
            <app-sobre-produto-outros-dados [produto]="produto"></app-sobre-produto-outros-dados>
          </ng-template>
        </ng-container>

        <!-- Sair -->
        <ng-container [ngbNavItem]="9">
          <a ngbNavLink class="d-flex align-items-right close text-danger" (click)="activeModal.close('Close')"
            ngbTooltip="Voltar para lista de produtos">
            <i class="icon-times-circle fs-18 me-2"></i>
            <span class="d-flex d-md-none">Voltar</span>
          </a>
        </ng-container>
        
      </nav>

      <div [ngbNavOutlet]="nav"></div>

      
  
    </div>
  </div>
</div>

</div>